/*----------media Query---------*/
/*--------Responsive----------*/

@media screen and (max-width: 1300px) {
  section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  footer {
    grid-template-columns: repeat(3, 1fr);
  }
}

/*-------Laptop----------*/

@media screen and (max-width: 1024px) {
  main {
    flex-direction: column;
  }

  main .content {
    height: 100%;
    margin: 0 auto;
  }
}

/*-------tablet----------*/

@media screen and (max-width: 768px) {
  header {
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1000;
    padding: 20px;
  }

  .menu {
    display: block
  }

  .rotate {
    transform: rotate(360deg);
    transition: all .5s ease;
  }

  header .nav {
    width: 100%;
    background-color: #ededed;
    display: flex;
    flex-direction: column;
    line-height: 60px;
    text-align: center;
    position: fixed;
    margin: 0;
    top: 70px;
    left: -100%;
    z-index: 100;
    transition: all .5s ease;
    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset,
     rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
      rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  }

  header .active {
    left: 0;
  }

  header .logo {
    margin: 0;
  }

  section {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }

  main .controler img {
    width: 400px;
  }

  footer {
    grid-template-columns: repeat(2, 1fr);
  }
}

/*---------Phone -----------*/

@media screen and (max-width: 580px) {
  footer {
    grid-template-columns: repeat(1, 1fr);
  }

  main .controler img {
    width: 300px;
  }

  main h4 {
    font-size: 20px;
  }
}